<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="e98674">  <td>16/12/07 15:37:22</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="API088_AddUserExperience.AddUserExperience_SuccessUsecase()[pri:0, instance:com.clinic.scripts.UserProfile.API088_AddUserExperience@2b552920]">AddUserExperience_SuccessUsecase</td> 
  <td>main@1684890795</td>   <td></td> </tr>
<tr bgcolor="8a679c">  <td>16/12/07 15:37:17</td>   <td>-5304</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="API006_HomeDoctor.AppointmentHomeDoctor_SuccessUsecase()[pri:0, instance:com.clinic.scripts.appointment.API006_HomeDoctor@3d99d22e]">AppointmentHomeDoctor_SuccessUsecase</td> 
  <td>main@1684890795</td>   <td></td> </tr>
<tr bgcolor="7567f1">  <td>16/12/07 15:37:32</td>   <td>10028</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="API104_DeleteDaySlotTiming.DeleteDaySlotTiming_SuccessUsecase()[pri:0, instance:com.clinic.scripts.UserProfile.API104_DeleteDaySlotTiming@1f36e637]">DeleteDaySlotTiming_SuccessUsecase</td> 
  <td>main@1684890795</td>   <td></td> </tr>
<tr bgcolor="a9a285">  <td>16/12/07 15:37:31</td>   <td>9322</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="API098_DeleteMyTimings.DeleteMyTimings_SuccessUsecase()[pri:0, instance:com.clinic.scripts.UserProfile.API098_DeleteMyTimings@6ebc05a6]">DeleteMyTimings_SuccessUsecase</td> 
  <td>main@1684890795</td>   <td></td> </tr>
<tr bgcolor="cab579">  <td>16/12/07 15:37:24</td>   <td>1961</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="API091_DeleteUserExperience.DeleteUserExperience_SuccessUsecase()[pri:0, instance:com.clinic.scripts.UserProfile.API091_DeleteUserExperience@610694f1]">DeleteUserExperience_SuccessUsecase</td> 
  <td>main@1684890795</td>   <td></td> </tr>
<tr bgcolor="85bdee">  <td>16/12/07 15:37:22</td>   <td>-645</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="API087_DeleteUserPublication.DeleteUserPublication_SuccessUsecase()[pri:0, instance:com.clinic.scripts.UserProfile.API087_DeleteUserPublication@35d176f7]">DeleteUserPublication_SuccessUsecase</td> 
  <td>main@1684890795</td>   <td></td> </tr>
<tr bgcolor="a9dace">  <td>16/12/07 15:37:27</td>   <td>4486</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="API096_DeleteUserQualification.DeleteUserQualification_SuccessUsecase()[pri:0, instance:com.clinic.scripts.UserProfile.API096_DeleteUserQualification@7b49cea0]">DeleteUserQualification_SuccessUsecase</td> 
  <td>main@1684890795</td>   <td></td> </tr>
<tr bgcolor="997ed7">  <td>16/12/07 15:37:27</td>   <td>5167</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="API099_GetClinicConfigParams.GetClinicConfigParams_SuccessUsecase()[pri:0, instance:com.clinic.scripts.UserProfile.API099_GetClinicConfigParams@6e6c3152]">GetClinicConfigParams_SuccessUsecase</td> 
  <td>main@1684890795</td>   <td></td> </tr>
<tr bgcolor="d878d1">  <td>16/12/07 15:37:30</td>   <td>7958</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="API100_ListDoctorTimings.ListDoctorTimings_SuccessUsecase()[pri:0, instance:com.clinic.scripts.UserProfile.API100_ListDoctorTimings@23e028a9]">ListDoctorTimings_SuccessUsecase</td> 
  <td>main@1684890795</td>   <td></td> </tr>
<tr bgcolor="ee9989">  <td>16/12/07 15:37:20</td>   <td>-2016</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="API086_ListUserPublication.ListUserPublication_SuccessUsecase()[pri:0, instance:com.clinic.scripts.UserProfile.API086_ListUserPublication@551aa95a]">ListUserPublication_SuccessUsecase</td> 
  <td>main@1684890795</td>   <td></td> </tr>
<tr bgcolor="60d6b1">  <td>16/12/07 15:37:23</td>   <td>658</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="API089_ListUserExperience.ListUserPublication_SuccessUsecase()[pri:0, instance:com.clinic.scripts.UserProfile.API089_ListUserExperience@3cef309d]">ListUserPublication_SuccessUsecase</td> 
  <td>main@1684890795</td>   <td></td> </tr>
<tr bgcolor="fd62e5">  <td>16/12/07 15:37:23</td>   <td>1300</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="API090_UpdateUserExperience.UpdateUserExperience_SuccessUsecase()[pri:0, instance:com.clinic.scripts.UserProfile.API090_UpdateUserExperience@3701eaf6]">UpdateUserExperience_SuccessUsecase</td> 
  <td>main@1684890795</td>   <td></td> </tr>
<tr bgcolor="a5c39e">  <td>16/12/07 15:37:26</td>   <td>3834</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="API095_UpdateUserQualification.UpdateUserQualification_SuccessUsecase()[pri:0, instance:com.clinic.scripts.UserProfile.API095_UpdateUserQualification@3a883ce7]">UpdateUserQualification_SuccessUsecase</td> 
  <td>main@1684890795</td>   <td></td> </tr>
<tr bgcolor="ac9a89">  <td>16/12/07 15:37:29</td>   <td>6511</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="API103_addDoctorTimings.addDoctorTimings_SuccessUsecase()[pri:0, instance:com.clinic.scripts.UserProfile.API103_addDoctorTimings@578486a3]">addDoctorTimings_SuccessUsecase</td> 
  <td>main@1684890795</td>   <td></td> </tr>
<tr bgcolor="686d7f">  <td>16/12/07 15:37:19</td>   <td>-2701</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="API085_AddUserPublication.addUserPublication_SuccessUsecase()[pri:0, instance:com.clinic.scripts.UserProfile.API085_AddUserPublication@49fc609f]">addUserPublication_SuccessUsecase</td> 
  <td>main@1684890795</td>   <td></td> </tr>
<tr bgcolor="a5f292">  <td>16/12/07 15:37:25</td>   <td>2589</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="API093_AddUserQualifacation.addUserQualification_SuccessUsecase()[pri:0, instance:com.clinic.scripts.UserProfile.API093_AddUserQualifacation@5c5a1b69]">addUserQualification_SuccessUsecase</td> 
  <td>main@1684890795</td>   <td></td> </tr>
<tr bgcolor="c26598">  <td>16/12/07 15:37:29</td>   <td>7297</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="API097_GetMyTimings.getMyTimings_SuccessUsecase()[pri:0, instance:com.clinic.scripts.UserProfile.API097_GetMyTimings@cd2dae5]">getMyTimings_SuccessUsecase</td> 
  <td>main@1684890795</td>   <td></td> </tr>
<tr bgcolor="ec8072">  <td>16/12/07 15:37:18</td>   <td>-4122</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="API083_GetUserProfileDetail.getUserProfileDetails_SuccessUsecase()[pri:0, instance:com.clinic.scripts.UserProfile.API083_GetUserProfileDetail@4973813a]">getUserProfileDetails_SuccessUsecase</td> 
  <td>main@1684890795</td>   <td></td> </tr>
<tr bgcolor="dafa95">  <td>16/12/07 15:37:16</td>   <td>-6169</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="JsonParseAppointment.jsonParseAppointment()[pri:0, instance:com.clinic.core.JsonParseAppointment@3dd4520b]">jsonParseAppointment</td> 
  <td>main@1684890795</td>   <td></td> </tr>
<tr bgcolor="70b3e1">  <td>16/12/07 15:37:15</td>   <td>-7239</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="JsonParseConsultation.jsonParseConsultation()[pri:0, instance:com.clinic.core.JsonParseConsultation@50b494a6]">jsonParseConsultation</td> 
  <td>main@1684890795</td>   <td></td> </tr>
<tr bgcolor="9898eb">  <td>16/12/07 15:37:16</td>   <td>-6213</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="JsonParseLogin.jsonParseLogin()[pri:0, instance:com.clinic.core.JsonParseLogin@32709393]">jsonParseLogin</td> 
  <td>main@1684890795</td>   <td></td> </tr>
<tr bgcolor="60df86">  <td>16/12/07 15:37:16</td>   <td>-6040</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="JsonParseServiceMaster.jsonParseServiceMaster()[pri:0, instance:com.clinic.core.JsonParseServiceMaster@2b2948e2]">jsonParseServiceMaster</td> 
  <td>main@1684890795</td>   <td></td> </tr>
<tr bgcolor="8168b5">  <td>16/12/07 15:37:25</td>   <td>3211</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="API094_ListUserQualification.listUserQulification_SuccessUsecase()[pri:0, instance:com.clinic.scripts.UserProfile.API094_ListUserQualification@43814d18]">listUserQulification_SuccessUsecase</td> 
  <td>main@1684890795</td>   <td></td> </tr>
<tr bgcolor="999395">  <td>16/12/07 15:37:16</td>   <td>-6027</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.login_SuccessUsecase()[pri:0, instance:com.clinic.scripts.appointment.API006_HomeDoctor@3d99d22e]">&gt;&gt;login_SuccessUsecase</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1684890795</td>   <td></td> </tr>
<tr bgcolor="999395">  <td>16/12/07 15:37:18</td>   <td>-4362</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.login_SuccessUsecase()[pri:0, instance:com.clinic.scripts.UserProfile.API083_GetUserProfileDetail@4973813a]">&gt;&gt;login_SuccessUsecase</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1684890795</td>   <td></td> </tr>
<tr bgcolor="999395">  <td>16/12/07 15:37:19</td>   <td>-3655</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.login_SuccessUsecase()[pri:0, instance:com.clinic.scripts.UserProfile.API084_UpdateUserProfile@2758fe70]">&gt;&gt;login_SuccessUsecase</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1684890795</td>   <td></td> </tr>
<tr bgcolor="999395">  <td>16/12/07 15:37:19</td>   <td>-2924</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.login_SuccessUsecase()[pri:0, instance:com.clinic.scripts.UserProfile.API085_AddUserPublication@49fc609f]">&gt;&gt;login_SuccessUsecase</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1684890795</td>   <td></td> </tr>
<tr bgcolor="999395">  <td>16/12/07 15:37:20</td>   <td>-2250</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.login_SuccessUsecase()[pri:0, instance:com.clinic.scripts.UserProfile.API086_ListUserPublication@551aa95a]">&gt;&gt;login_SuccessUsecase</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1684890795</td>   <td></td> </tr>
<tr bgcolor="999395">  <td>16/12/07 15:37:21</td>   <td>-1560</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.login_SuccessUsecase()[pri:0, instance:com.clinic.scripts.UserProfile.API102_UpdateUserPublication@1dfe2924]">&gt;&gt;login_SuccessUsecase</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1684890795</td>   <td></td> </tr>
<tr bgcolor="999395">  <td>16/12/07 15:37:21</td>   <td>-881</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.login_SuccessUsecase()[pri:0, instance:com.clinic.scripts.UserProfile.API087_DeleteUserPublication@35d176f7]">&gt;&gt;login_SuccessUsecase</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1684890795</td>   <td></td> </tr>
<tr bgcolor="999395">  <td>16/12/07 15:37:22</td>   <td>-237</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.login_SuccessUsecase()[pri:0, instance:com.clinic.scripts.UserProfile.API088_AddUserExperience@2b552920]">&gt;&gt;login_SuccessUsecase</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1684890795</td>   <td></td> </tr>
<tr bgcolor="999395">  <td>16/12/07 15:37:23</td>   <td>433</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.login_SuccessUsecase()[pri:0, instance:com.clinic.scripts.UserProfile.API089_ListUserExperience@3cef309d]">&gt;&gt;login_SuccessUsecase</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1684890795</td>   <td></td> </tr>
<tr bgcolor="999395">  <td>16/12/07 15:37:23</td>   <td>1068</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.login_SuccessUsecase()[pri:0, instance:com.clinic.scripts.UserProfile.API090_UpdateUserExperience@3701eaf6]">&gt;&gt;login_SuccessUsecase</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1684890795</td>   <td></td> </tr>
<tr bgcolor="999395">  <td>16/12/07 15:37:24</td>   <td>1732</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.login_SuccessUsecase()[pri:0, instance:com.clinic.scripts.UserProfile.API091_DeleteUserExperience@610694f1]">&gt;&gt;login_SuccessUsecase</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1684890795</td>   <td></td> </tr>
<tr bgcolor="999395">  <td>16/12/07 15:37:25</td>   <td>2359</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.login_SuccessUsecase()[pri:0, instance:com.clinic.scripts.UserProfile.API093_AddUserQualifacation@5c5a1b69]">&gt;&gt;login_SuccessUsecase</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1684890795</td>   <td></td> </tr>
<tr bgcolor="999395">  <td>16/12/07 15:37:25</td>   <td>2996</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.login_SuccessUsecase()[pri:0, instance:com.clinic.scripts.UserProfile.API094_ListUserQualification@43814d18]">&gt;&gt;login_SuccessUsecase</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1684890795</td>   <td></td> </tr>
<tr bgcolor="999395">  <td>16/12/07 15:37:26</td>   <td>3613</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.login_SuccessUsecase()[pri:0, instance:com.clinic.scripts.UserProfile.API095_UpdateUserQualification@3a883ce7]">&gt;&gt;login_SuccessUsecase</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1684890795</td>   <td></td> </tr>
<tr bgcolor="999395">  <td>16/12/07 15:37:26</td>   <td>4246</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.login_SuccessUsecase()[pri:0, instance:com.clinic.scripts.UserProfile.API096_DeleteUserQualification@7b49cea0]">&gt;&gt;login_SuccessUsecase</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1684890795</td>   <td></td> </tr>
<tr bgcolor="999395">  <td>16/12/07 15:37:27</td>   <td>4926</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.login_SuccessUsecase()[pri:0, instance:com.clinic.scripts.UserProfile.API099_GetClinicConfigParams@6e6c3152]">&gt;&gt;login_SuccessUsecase</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1684890795</td>   <td></td> </tr>
<tr bgcolor="999395">  <td>16/12/07 15:37:28</td>   <td>5624</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.login_SuccessUsecase()[pri:0, instance:com.clinic.scripts.UserProfile.API105_validateDigitalSignature@5ae63ade]">&gt;&gt;login_SuccessUsecase</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1684890795</td>   <td></td> </tr>
<tr bgcolor="999395">  <td>16/12/07 15:37:28</td>   <td>6283</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.login_SuccessUsecase()[pri:0, instance:com.clinic.scripts.UserProfile.API103_addDoctorTimings@578486a3]">&gt;&gt;login_SuccessUsecase</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1684890795</td>   <td></td> </tr>
<tr bgcolor="999395">  <td>16/12/07 15:37:29</td>   <td>7054</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.login_SuccessUsecase()[pri:0, instance:com.clinic.scripts.UserProfile.API097_GetMyTimings@cd2dae5]">&gt;&gt;login_SuccessUsecase</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1684890795</td>   <td></td> </tr>
<tr bgcolor="999395">  <td>16/12/07 15:37:30</td>   <td>7731</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.login_SuccessUsecase()[pri:0, instance:com.clinic.scripts.UserProfile.API100_ListDoctorTimings@23e028a9]">&gt;&gt;login_SuccessUsecase</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1684890795</td>   <td></td> </tr>
<tr bgcolor="999395">  <td>16/12/07 15:37:31</td>   <td>8423</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.login_SuccessUsecase()[pri:0, instance:com.clinic.scripts.UserProfile.API101_updateDoctorTimings@627551fb]">&gt;&gt;login_SuccessUsecase</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1684890795</td>   <td></td> </tr>
<tr bgcolor="999395">  <td>16/12/07 15:37:31</td>   <td>9090</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.login_SuccessUsecase()[pri:0, instance:com.clinic.scripts.UserProfile.API098_DeleteMyTimings@6ebc05a6]">&gt;&gt;login_SuccessUsecase</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1684890795</td>   <td></td> </tr>
<tr bgcolor="999395">  <td>16/12/07 15:37:32</td>   <td>9818</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.login_SuccessUsecase()[pri:0, instance:com.clinic.scripts.UserProfile.API104_DeleteDaySlotTiming@1f36e637]">&gt;&gt;login_SuccessUsecase</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1684890795</td>   <td></td> </tr>
<tr bgcolor="999395">  <td>16/12/07 15:37:18</td>   <td>-4601</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.logout()[pri:0, instance:com.clinic.scripts.appointment.API006_HomeDoctor@3d99d22e]">&lt;&lt;logout</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1684890795</td>   <td></td> </tr>
<tr bgcolor="999395">  <td>16/12/07 15:37:18</td>   <td>-3870</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.logout()[pri:0, instance:com.clinic.scripts.UserProfile.API083_GetUserProfileDetail@4973813a]">&lt;&lt;logout</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1684890795</td>   <td></td> </tr>
<tr bgcolor="999395">  <td>16/12/07 15:37:19</td>   <td>-3140</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.logout()[pri:0, instance:com.clinic.scripts.UserProfile.API084_UpdateUserProfile@2758fe70]">&lt;&lt;logout</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1684890795</td>   <td></td> </tr>
<tr bgcolor="999395">  <td>16/12/07 15:37:20</td>   <td>-2480</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.logout()[pri:0, instance:com.clinic.scripts.UserProfile.API085_AddUserPublication@49fc609f]">&lt;&lt;logout</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1684890795</td>   <td></td> </tr>
<tr bgcolor="999395">  <td>16/12/07 15:37:20</td>   <td>-1794</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.logout()[pri:0, instance:com.clinic.scripts.UserProfile.API086_ListUserPublication@551aa95a]">&lt;&lt;logout</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1684890795</td>   <td></td> </tr>
<tr bgcolor="999395">  <td>16/12/07 15:37:21</td>   <td>-1094</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.logout()[pri:0, instance:com.clinic.scripts.UserProfile.API102_UpdateUserPublication@1dfe2924]">&lt;&lt;logout</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1684890795</td>   <td></td> </tr>
<tr bgcolor="999395">  <td>16/12/07 15:37:22</td>   <td>-439</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.logout()[pri:0, instance:com.clinic.scripts.UserProfile.API087_DeleteUserPublication@35d176f7]">&lt;&lt;logout</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1684890795</td>   <td></td> </tr>
<tr bgcolor="999395">  <td>16/12/07 15:37:22</td>   <td>209</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.logout()[pri:0, instance:com.clinic.scripts.UserProfile.API088_AddUserExperience@2b552920]">&lt;&lt;logout</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1684890795</td>   <td></td> </tr>
<tr bgcolor="999395">  <td>16/12/07 15:37:23</td>   <td>871</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.logout()[pri:0, instance:com.clinic.scripts.UserProfile.API089_ListUserExperience@3cef309d]">&lt;&lt;logout</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1684890795</td>   <td></td> </tr>
<tr bgcolor="999395">  <td>16/12/07 15:37:24</td>   <td>1531</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.logout()[pri:0, instance:com.clinic.scripts.UserProfile.API090_UpdateUserExperience@3701eaf6]">&lt;&lt;logout</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1684890795</td>   <td></td> </tr>
<tr bgcolor="999395">  <td>16/12/07 15:37:24</td>   <td>2159</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.logout()[pri:0, instance:com.clinic.scripts.UserProfile.API091_DeleteUserExperience@610694f1]">&lt;&lt;logout</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1684890795</td>   <td></td> </tr>
<tr bgcolor="999395">  <td>16/12/07 15:37:25</td>   <td>2804</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.logout()[pri:0, instance:com.clinic.scripts.UserProfile.API093_AddUserQualifacation@5c5a1b69]">&lt;&lt;logout</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1684890795</td>   <td></td> </tr>
<tr bgcolor="999395">  <td>16/12/07 15:37:26</td>   <td>3413</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.logout()[pri:0, instance:com.clinic.scripts.UserProfile.API094_ListUserQualification@43814d18]">&lt;&lt;logout</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1684890795</td>   <td></td> </tr>
<tr bgcolor="999395">  <td>16/12/07 15:37:26</td>   <td>4040</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.logout()[pri:0, instance:com.clinic.scripts.UserProfile.API095_UpdateUserQualification@3a883ce7]">&lt;&lt;logout</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1684890795</td>   <td></td> </tr>
<tr bgcolor="999395">  <td>16/12/07 15:37:27</td>   <td>4713</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.logout()[pri:0, instance:com.clinic.scripts.UserProfile.API096_DeleteUserQualification@7b49cea0]">&lt;&lt;logout</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1684890795</td>   <td></td> </tr>
<tr bgcolor="999395">  <td>16/12/07 15:37:28</td>   <td>5421</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.logout()[pri:0, instance:com.clinic.scripts.UserProfile.API099_GetClinicConfigParams@6e6c3152]">&lt;&lt;logout</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1684890795</td>   <td></td> </tr>
<tr bgcolor="999395">  <td>16/12/07 15:37:28</td>   <td>6075</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.logout()[pri:0, instance:com.clinic.scripts.UserProfile.API105_validateDigitalSignature@5ae63ade]">&lt;&lt;logout</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1684890795</td>   <td></td> </tr>
<tr bgcolor="999395">  <td>16/12/07 15:37:29</td>   <td>6838</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.logout()[pri:0, instance:com.clinic.scripts.UserProfile.API103_addDoctorTimings@578486a3]">&lt;&lt;logout</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1684890795</td>   <td></td> </tr>
<tr bgcolor="999395">  <td>16/12/07 15:37:30</td>   <td>7504</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.logout()[pri:0, instance:com.clinic.scripts.UserProfile.API097_GetMyTimings@cd2dae5]">&lt;&lt;logout</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1684890795</td>   <td></td> </tr>
<tr bgcolor="999395">  <td>16/12/07 15:37:30</td>   <td>8175</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.logout()[pri:0, instance:com.clinic.scripts.UserProfile.API100_ListDoctorTimings@23e028a9]">&lt;&lt;logout</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1684890795</td>   <td></td> </tr>
<tr bgcolor="999395">  <td>16/12/07 15:37:31</td>   <td>8882</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.logout()[pri:0, instance:com.clinic.scripts.UserProfile.API101_updateDoctorTimings@627551fb]">&lt;&lt;logout</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1684890795</td>   <td></td> </tr>
<tr bgcolor="999395">  <td>16/12/07 15:37:32</td>   <td>9616</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.logout()[pri:0, instance:com.clinic.scripts.UserProfile.API098_DeleteMyTimings@6ebc05a6]">&lt;&lt;logout</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1684890795</td>   <td></td> </tr>
<tr bgcolor="999395">  <td>16/12/07 15:37:33</td>   <td>10340</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.logout()[pri:0, instance:com.clinic.scripts.UserProfile.API104_DeleteDaySlotTiming@1f36e637]">&lt;&lt;logout</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1684890795</td>   <td></td> </tr>
<tr bgcolor="66a57e">  <td>16/12/07 15:37:31</td>   <td>8665</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="API101_updateDoctorTimings.updateDoctorTimings_SuccessUsecase()[pri:0, instance:com.clinic.scripts.UserProfile.API101_updateDoctorTimings@627551fb]">updateDoctorTimings_SuccessUsecase</td> 
  <td>main@1684890795</td>   <td></td> </tr>
<tr bgcolor="f777e8">  <td>16/12/07 15:37:19</td>   <td>-3431</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="API084_UpdateUserProfile.updateUserProfile_SuccessUsecase()[pri:0, instance:com.clinic.scripts.UserProfile.API084_UpdateUserProfile@2758fe70]">updateUserProfile_SuccessUsecase</td> 
  <td>main@1684890795</td>   <td></td> </tr>
<tr bgcolor="9ad2d6">  <td>16/12/07 15:37:21</td>   <td>-1303</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="API102_UpdateUserPublication.updateUserPublication_SuccessUsecase()[pri:0, instance:com.clinic.scripts.UserProfile.API102_UpdateUserPublication@1dfe2924]">updateUserPublication_SuccessUsecase</td> 
  <td>main@1684890795</td>   <td></td> </tr>
<tr bgcolor="6ab965">  <td>16/12/07 15:37:28</td>   <td>5845</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="API105_validateDigitalSignature.validateDigitalSignature_SuccessUsecase()[pri:0, instance:com.clinic.scripts.UserProfile.API105_validateDigitalSignature@5ae63ade]">validateDigitalSignature_SuccessUsecase</td> 
  <td>main@1684890795</td>   <td></td> </tr>
</table>
